*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* navbar section start */
nav{
    display: flex;
    justify-content: space-around;
    background:black;
    color: white;
    height: 11vh;
    align-items: center;
}
nav>ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
nav>ul li{
    list-style: none
}
nav>ul li a{
    text-decoration: none;
    color: white;
}
.btn{
    border: none;
    background-color: black;
    color: white;
    border: 2px solid #5696D8;
    padding: 8px;
}
.btn:hover{
    background-color: #5696D8;
    cursor: pointer;
}
/* navbar section end */

/* banner section */
.banner{
    background-image: url(images/banner2.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;   
    justify-content: center;
    align-items: center;

}
.banner-title{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #5758e0;
}
.banner-subtitle{
    font-weight: 300;
    font-size: 17px;
    color: #999999;
    margin: 8px 0;
}
.banner-btn{
    border: none;
    background-color: #5758e0;
}
/* details section */
.details{
    background: black;
    color: white;
    padding: 50px 0;
}
.items{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    width: 800px;
    
} 
.item{
    text-align: center;
    background: #191919;
    padding: 15px;
    
}
.item>h1{
    font-weight: 800;
    font-size: 25px;
    margin: 10px 0;
}
.item>p{
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
}
.icon{
    color: #5758e0;
}
/* about us section */
.about{
    background: #191919;
    padding: 100px 0;
}
.container img{
    width: 500px;
}
.container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    margin: 0 auto;
    color: white;
}
.border{
    background: linear-gradient(to left, #55b4d4, #5758e0);
    width: 55px;
    height: 5px;
}
.about-details>h1{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0;
}
.about-details>p{
    width: 550px;
    color: gray;
}
.professional{
    background: #111111;
    padding: 100px 0;
    color: white;
}
.prof-details{
    max-width: 1250px;
    margin: 0 auto;
    margin: 0 100px;
}
.skill{
    display: flex;
    align-items: center;
    gap:15px;
    padding-left: 100px;
    margin: 20px 0;
}
.skill p, .prof-details>p{
    font-size: 18px;
    font-weight: 500;
    color: gray;
}
.prof-img{
    width: 500px;
}
.parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* feature section */
.feature-heading{
    text-align: center;
    color: white;
    padding-top: 55px;
}
.feature-heading>h1{
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 10px;
}
.feature-heading>p{
    color: gray;
}
/* accordion section */
#accordion{
    margin: 100px auto;
    width: 600px;
}
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #191919;
    padding: 10px;
    border-radius: 4px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: black;
}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    color: white;
}
#accordion label + input[type="radio"]:checked + .content{
    max-width: 400px;
    display: contents;
}
.feature{
    background: black;
    padding: 50px 0;
}
/* portfolio section */
.portfolio{
    max-width: 1250px;
    margin: 0 auto;
    padding: 100px 0;
    background: #111111;
}
.portfolio-details{
    text-align: center;
}
.portfolio-details>h1{
    font-weight: 800;
    font-size: 32;
    margin-bottom: 10px;
    color: white;
}
.portfolio-details>p{
    margin-bottom: 15px;
    color: gray;
    font-size: 18px;
}
.img-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.prot-img{
    width: 350px;
}
/* vedio section */
.vedio{
    height: 100vh;
    color: white;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vedio-details{
    text-align: center;
}
.vedio-details>h1{
    font-weight: 900;
    font-size: 42px;
    margin-bottom: 10px;
}
.vedio-details>p{
    font-weight: 400; 
    font-size: 18px;
    margin-bottom: 22px;
    color: #999999;
}
/* customer section start */
.customer{
    padding: 120px 0;
    background-color: #000000;
}
.cutomer-heading{
    text-align: center;
    color: white;
    
}
.cutomer-heading>h1{
    font-weight: 900;
    font-size: 42px;
    margin-bottom: 15px;
}
.cutomer-heading>p{
    color: #999999;
    margin-bottom: 25px;
}
.reviews{
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 0 50px;
}
.review{
    padding: 3rem;
    background: #191919;
    text-align: center;
}
.review>p{
    color: gray;
    margin-top: 12px;
}
.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}